{% extends 'GuestBookapp/layout.html' %}
{% load static %}
{% block main_section %}
<section id="Header" class="Site-header flex-container">

    <div>
        <h1>
            Welcome To The GuestBook
        </h1>
        <h4>

            Share with your guests to have a unique expeience. <br>
            sign up to have your <strong>GuestBook </strong><em>now</em> <button class="btn signup-button">Sign
                up</button>

        </h4>

    </div>



</section>
<main class=" featuers flex-container">
    <div class="scene-wrapper flex-container">
        <div>
            <h3>
                Share a photo with us
            </h3>
            <h6>
                Take a picture and keep the memory
            </h6>
        </div>
        <img src="guestbook-img.jpg" alt="guest book and images of a wedding">

    </div>
    <div class="scene-wrapper flex-container">
        <div>
            <h3>
                Share a photo with us
            </h3>
            <h6>
                Take a picture and keep the memory
            </h6>
        </div>
        <img src="guestbook-img.jpg" alt="guest book and images of a wedding">

    </div>
    <div class="scene-wrapper flex-container">
        <div>
            <h3>
                Share a photo with us
            </h3>
            <h6>
                Take a picture and keep the memory
            </h6>
        </div>
        <img src="guestbook-img.jpg" alt="guest book and images of a wedding">

    </div>
</main>
{% endblock main_section %}