@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap");
// colors
$deep-champagne: rgba(250, 214, 157, 1);
$cultured: rgba(243, 243, 243, 1);
$dark-electric-blue: rgba(73, 106, 127, 1);
$slate-gray: rgba(91, 121, 139, 1);
$silver-chalice: rgba(179, 179, 179, 1);
// ------------------------------------------
// mixins

// general styles
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  position: relative;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.btn {
  width: 100px;
  height: 30px;
  border: 0;
  font-weight: bold;
  background-color: #f0b193d4;
  cursor: pointer;
  border-radius: 4px;
}
.btn:hover {
  background-color: $deep-champagne;
  color: $dark-electric-blue;
} // ------------------------------------------
// navbar
.navbar {
  width: 100%;
  height: 10vh;
  padding: 10px 50px;
  box-shadow: 0px 1px 9px $silver-chalice;
  //   position: fixed;

  // border-bottom: 1 $cultured solid;
  .site-heading {
    color: $slate-gray;
    font-family: "Charmonman", cursive;
    font-size: 2rem;
  }
  .site-menu {
    list-style: none;
    font-size: 1.2em;
    li {
      padding: 10px;
    }
    a {
      color: $silver-chalice;
      text-decoration: none;
    }
    a:hover {
      color: $slate-gray;
      text-decoration: underline solid rgb(226 208 198);
      text-decoration-thickness: 3px;
    }
  }
}
// ------------------------------------------
// header
.Site-header {
  height: 90vh;
  padding: 25px;
  font-size: 2em;
  background: url("images/wedding-invitaions.jpg");
  h4 {
    font-weight: 100;
  }
}
// ------------------------------------------
